<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Xs Watersports</title>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div id="map" style="width: 100vw; height: 100vh"></div>
        <div id="distance" class="distance-container"></div>

        <div class="marker-container hide">
            <div class="close">×</div>
            <div class="content"></div>
        </div>

        <div class="login">
            <form id="login">
                <div class="logo" style="background-image: url('./images/logo.jpg');"></div>

                <label>Boat Number</label>
                <select required name="boat_num">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <input type="submit" value="Submit" id="submit">
            </form>
        </div>

        <script src="js/polygon.js" defer></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script src="js/script.js"></script>
    </body>
</html>
